.start-button {
  background-color: #FAD9A1;
  border-radius: 1000px;
  border: 10px solid white;

  box-shadow: 0px 0px 30px black;
}

.start-button:hover
{
  background-color: #ffce84;

}

.start-button h1 {
  padding: 32px 50px;
  text-align: center;


}

body {

  background: url("./Images/background.jpg") repeat fixed 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.question-1 {
  display: inline-block;
  background-color: #FAD9A1;
  padding: 20px;
  border-radius: 50px;
  border: 10px solid white;
  box-shadow: 0px 0px 30px black;
  margin: 20% 10%;
}

.page {
  /* height: 30rem; */
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option{
  margin: 10px 0px;
 border: 2px solid white;
 border-radius: 10px;
}
.option:hover
{
  box-shadow: 0px 0px 10px white;

}
.option p
{
 display: inline-block;
 padding: 10px 10px;
 margin: 10px 0px;
 /* border: 2px solid white; */
 border-radius: 10px;
}

.option p:hover
{
  /* box-shadow: 0px 0px 10px white; */
}

.question-1 button 
{
  margin: 10px 10px;
  font-weight: 600;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 20px;
}

.question-1 button:hover
{
  background-color: greenyellow;
}

.question-1 button p 
{
  padding: 0px;
  margin: 0px;
}

.btns 
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  
}

.Score
{
 text-align: center;
}